apiVersion: apps/v1
kind: Deployment
metadata:
  name: movie-service
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.movieService.replicas }}
  selector:
    matchLabels:
      app: movie-service
  template:
    metadata:
      labels:
        app: movie-service
    spec:
      containers:
        - name: movie-service
          image: {{ .Values.movieService.image }}:{{ .Values.movieService.tag }}
          command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
          ports:
            - containerPort: {{ .Values.movieService.port }}
          env:
            - name: DATABASE_URI
              value: "postgresql://{{ .Values.movieDb.credentials.user }}:{{ .Values.movieDb.credentials.password }}@movie-db:5432/{{ .Values.movieDb.credentials.database }}"
            - name: CAST_SERVICE_HOST_URL
              value: "http://cast-service:{{ .Values.castService.port }}/api/v1/casts/"

---
apiVersion: v1
kind: Service
metadata:
  name: movie-service
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: movie-service
  ports:
    - port: {{ .Values.movieService.port }}
      targetPort: {{ .Values.movieService.port }}
  type: ClusterIP